@import '../../config.scss';


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__img {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    margin: 1rem;
    font-size: $size-large;
    font-weight: bold;
    color: $color-font-heading;
  }

  &__contact {
    margin-bottom: 1rem;

    & > * {
      font-size: $size-small;
      font-weight: bold;
      text-align: center;
      color: $color-font-light;
    }
  }
  
  &__about {
    margin: 1rem 1.5rem;
    text-align: center;
  }
}
