@import '../../config.scss';

$animation-duration: 800ms;
$animation-delay: 200ms;


.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;

  &__img {
    width: 120px;
    height: 120px;

    border-radius: 50%;
    object-fit: cover;
    animation: fade-in 2000ms ease;
  }

  &__name {
    font-size: $size-xlarge;
    font-weight: normal;
    margin-top: 1rem;
    animation: slide-up $animation-duration ease;
  }

  &__about {
    margin: 2rem;
    animation: slide-up ($animation-duration + $animation-delay) ease;
  }

  &__contact-links {
    margin-top: 1rem;
    animation: slide-up ($animation-duration + 2*$animation-delay) ease;
  }

  &__contact-link {
    margin: 1rem;
  }

  &__contact-icon {
    vertical-align: middle;
    fill: $color-theme-mid;
    transition: fill 300ms ease;
  }
}


@media (min-width: 800px) {

  .profile {
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    margin: 0 0 0 200px;
    padding: 0 10vw;

    &__name {
      margin-left: 2rem;
      font-size: $size-xxlarge;
      line-height: 100%;
    }

    &__about {
      min-width: 100%;
    }

    &__contact-icon:hover {
      fill: $color-theme-dark;
    }
  }

}
