@import '../../config.scss';

$radius-border: 14px;


.card-container {
  width: 80vw;
  height: 100vw;
  max-width: 300px;
  max-height: 375px;
  
  margin: 2rem;
  perspective: 1200px;
}

.card {
  width: 100%;
  height: 100%;
  
  border-radius: $radius-border;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transform-style: preserve-3d;
  transition: transform 300ms ease;
  
  &--flip {
    transform: rotateY(180deg);
  }
}

.card--front, .card--back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;	

  position: absolute;
	top: 0;
	left: 0;
}

.card--front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;

    &-container {
      height: 80%;
      width: 100%;
      overflow: hidden;
      border-radius: $radius-border $radius-border 0 0;
    }
  }

  &__info {
    margin: 1.5rem 1rem;
  }

  &__title {
    font-size: $size-large;
    font-weight: bold;
  }

  &__subtitle {
    margin-top: 3px;
    font-size: $size-small;
    font-weight: bold;
  }
}

.card--back {
  padding: 1rem;
  transform: rotateY(180deg);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;  
  }

  &__info {
    text-align: right;

    & > * {
      font-size: $size-normal;
    }
  }

  &__text {
    margin-top: 2rem;
  }
}
