@import '../../config.scss';


.card-flat {
  display: flex;
  margin: 1rem 2rem;

  &__img-container { 
    width: 35vw;
    height: 28vw;
    max-width: 625px;
    max-height: 500px;

    margin: 2rem;
    overflow: hidden;
  }

  &__img {
    width: 110%;
    height: 110%;

    object-fit: cover;
    transition: transform 500ms ease;

    &:hover {
      transform: scale(0.95);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 26vw;
    max-height: 500px;

    margin: 3rem 1.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
  }

  &__title {
    margin: 0 1rem;
    font-size: $size-xlarge;
  }

  &__subtitle {
    font-size: $size-large;
    margin: 1rem 0.5rem 0 0.5rem;
  }

  &__period {
    font-size: $size-small;
    margin: 1rem 0.5rem 0 0.5rem;
    color: $color-font-light;
  }

  &__text {
    margin-top: 2rem;
    padding: 0 0.5rem;
    overflow: auto;

    @include scrollbar-width(5px);
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: $size-small;
    margin: 2rem 0.5rem 0 0.5rem;
  }
  

  &:nth-child(even) {
    flex-direction: row-reverse;

    & .card-flat {
      &__info {
        align-items: flex-end;
      }

      &__header {
        flex-direction: row-reverse;
      }

      &__text {
        text-align: right;
      }
    }
  }
}
