@import '../../config.scss';


.navbar {
  display: flex;
  justify-content: space-between;
  overflow: auto;

  padding: 0.5rem 1rem;
  font-family: $font-navbar;

  -ms-overflow-style: none;  //No scrollbar, IE 10+
  scrollbar-width: none;  //No scrollbar, Firefox

  &::-webkit-scrollbar { 
    display: none;  //No scrollbar, Safari and Chrome
  }

  &__tab {
    @include highlight(45%);

    margin: 0.5rem;
    padding: 0.5rem;

    font-size: $size-large;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none; 
    color: $color-font-main;

    transition: background-position 300ms ease;

    &--selected {
      background-position: left bottom;
    }
  }
}


@media (min-width: $point-phone-tablet) {

  .navbar {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: fixed;
    height: 100%;
    width: 180px;

    &__tab {
      padding: 0; 
      padding-right: 12px !important;
      padding-left: 2px;

      &:hover {
        background-position: left bottom;
      }
    }
  }
  
}
