@import '../../config.scss';


.experience-card {
  display: flex;
  flex-direction: column;

  max-width: 400px;
  margin: 2rem;

  border-radius: $radius-border;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: $transistion-transform;

    &-container {
      height: 40vh;
      width: 100%;
      overflow: hidden;
      border-radius: $radius-border $radius-border 0 0;
    }
  }

  &__info {
    margin: 1.5rem 1rem;
  }

  &__company {
    margin-bottom: 3px;
    font-size: $size-large;
    font-weight: bold;
    color: $color-font-heading;
  }

  &__position {
    font-size: $size-small;
    font-weight: bold;
    color: $color-font-light;
  }
}


@media (min-width: 800px) {

  .experience-card {
    &:hover &__img {
      transform: scale(1.2);
    }
  }

}