@import '../../config.scss';


.footer {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  padding: 1rem;
  background-color: $color-theme-primary;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__contact-info {
    margin: 1rem;
  }

  &__contact-icon {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
  
    fill: $color-theme-secondary;
    transition: $transistion-fill;
  }

  &__short-name {
    font-size: $size-small;
    font-weight: normal;
    text-align: center;
    color: $color-theme-secondary;
  }
}


@media (min-width: 800px) {

  .footer {
    &__contact-icon:hover {
      fill: $color-theme-light;
    }
  }

}