@import '../../config.scss';


.footer {
  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  padding: 1rem;
  background-color: $color-primary;

  &__links {
    display: flex;
    justify-content: center;
  }

  &__contact-info {
    margin: 1rem;
  }

  &__contact-icon {
    vertical-align: middle;
    width: 1.5rem;
    height: 1.5rem;
  
    fill: $color-icon;
    transition: $transistion-hover;
  
    &:hover {
      fill: $color-icon-secondary;
    }
  }

  &__short-name {
    font-size: $size-small;
    text-align: center;
    color: $color-font-reverse;
  }
}
