@import "./config.scss";


* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent; //Reomve highlight on click

  
  //Style scrollbar

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-scrollbar-track; 
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-scrollbar-thumb; 
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-scrollbar-hover; 
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $size-normal;
  line-height: 150%;
  
  color: $color-font-main;
  background-color: $color-theme-light;
}

img {
  max-width: 100%;
}
