@import "./config.scss";


* {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;

  font-family: 'Poppins', sans-serif;
  font-size: $size-normal;
  color: $color-font-text;
}

img {
  max-width: 100%;
}

.app {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
