/* Colors */

$color-font: #000000;
$color-font-secondary: #9ea0a6;
$color-font-disabled: #c9c9c9;
$color-icon: #9ea0a6;


/* Font sizes */

$size-small: 12px;
$size-normal: 16px;
$size-large: 24px;


/* Animations */

$transistion-hover: fill 300ms ease-in-out;