/* Colors */

$color-font-text: #000000;
$color-font-heading: #083045;
$color-font-light: #9ea0a6;
$color-font-disabled: #c9c9c9;

$color-theme-primary: #262c30;;
$color-theme-secondary: #688a9e;
$color-theme-light: #ffffff;


/* Font sizes */

$size-small: 14px;
$size-normal: 16px;
$size-large: 20px;
$size-xlarge: 24px;


/* Animations */

$transistion-fill: fill 300ms ease-in-out;
$transistion-transform: transform 500ms ease;


/* Other constants */

$radius-border: 14px;