/* Colors */

$color-font-main: #000000;
$color-font-light: #9ea0a6;
$color-font-disabled: #c9c9c9;

$color-theme-dark: #000000;
$color-theme-light: #ffffff;
$color-theme-mid: #9ea0a6;

$color-scrollbar-track: #f1f1f1;
$color-scrollbar-thumb: #a5a5a5;
$color-scrollbar-hover: #888888;


/* Fonts */

$font-main: 'Ubuntu', sans-serif;
$font-navbar: 'Poppins', sans-serif;


/* Font sizes */

$size-small: 14px;
$size-normal: 16px;
$size-large: 20px;
$size-xlarge: 24px;
$size-xxlarge: 30px;


/* Media query points */

$point-phone-tablet: 800px;
$point-tablet-desktop: 1100px;


/* Animations */

@keyframes slide-up {
  0% {
      opacity: 0;
      transform: translateY(500px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
      opacity: 0;
      transform: translateY(-100px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slide-right {
  0% {
      opacity: 0;
      transform: translateX(-100px);
  }
  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slide-up-pause {
  0% {
      opacity: 0;
      transform: translateY(800px);
  }
  40% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
